<footer>
	<div class="container">
		{% if block4 %}
			{{ block4 }}
		{% endif %}	
		{% if block5 %}
			{{ block5 }}
		{% endif %}	
		{% if block6 %}
			{{ block6 }}
		{% endif %}	
	</div>
	<div class="footer-top">
	  <div class="container">
		<div class="row">
			  <div class="col1 col-md-5 col-sm-12 col-footer">
					{% if block7 %}
						{{ block7 }}
					{% endif %}	
				</div>
			  {% if informations %}
			  <div class="col-md-2 col-sm-6 col-footer">
				<div class="footer-title"><h3>{{ text_information }}</h3></div>
				<div class="footer-content">
					<ul class="list-unstyled text-content">
					 {% for information in informations %}
					  <li><a href="{{ information.href }}">{{ information.title }}</a></li>
					  {% endfor %}
					  {#<li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>#}
					  {#<li><a href="{{ voucher }}">{{ text_voucher }}</a></li>#}
					</ul>
				</div>
			  </div>
			  {% endif %}
			  <div class="col-md-2 col-sm-6 col-footer">
				<div class="footer-title"><h3>{{ text_service }}</h3></div>
				<div class="footer-content">
					<ul class="list-unstyled text-content">
					  <li><a href="{{ contact }}">{{ text_contact }}</a></li>
					  {#<li><a href="{{ return }}">{{ text_return }}</a></li>#}
					  {#<li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>#}
					  {#<li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>#}
					  {#<li><a href="{{ special }}">{{ text_special }}</a></li>#}
					  {#<li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>#}
					</ul>
				</div>
			  </div>
			  <div class="col-md-3 col-sm-12 col-footer">
				{% if block8 %}
					{{ block8 }}
				{% endif %}	
			  </div>
		</div>
	  </div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="container-inner">
				<div class="footer-copyright">
					<span>{{ powered }}</span>
				</div>
				{% if block9 %}
					{{ block9 }}
				{% endif %}	
			</div>
		</div>
	</div>
	<div id="back-top"><i class="fa fa-angle-up"></i></div>
</footer>
<script >

$(document).ready(function(){
	// hide #back-top first
	$("#back-top").hide();
	// fade in #back-top
	$(function () {
		$(window).scroll(function () {
			if ($(this).scrollTop() > $('body').height()/3) {
				$('#back-top').fadeIn();
			} else {
				$('#back-top').fadeOut();
			}
		});
		// scroll body to 0px on click
		$('#back-top').click(function () {
			$('body,html').animate({scrollTop: 0}, 800);
			return false;
		});
	});
});
</script>
{% for script in scripts %}
<script src="{{ script }}" ></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</div><!-- wrapper -->
</body></html>