
{{ header }}

 <div id="content" class="{{ class }}">
		<div class="block_slide">
			<div class="">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 slide-left home-slider" >
					 {{ content_home1 }}
				</div>
				{# <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 slide-right">
					{{ content_home2 }}
				</div> #}
			</div>
		</div>
	
	<div class="container">

	
		{{ content_top }}
		{{ content_bottom }}
	</div>
	
</div>  

{{ footer }}