/*Add Css Custom Here*/

.logo img{
	height:50px;
}

.custom-cart{ top:7px }

.header-middle {
    padding: 25px 0 0px !important;
    background: #e5bf88 !important;
}
.header-search .dropdown{ position:initial;}
.at-svc-pinterest_share, .at-svc-compact{ display:none !important;}
.compare{ display:none !important;}

.home-slider{
	width: 100% !important;
    /*padding: 0; */
    overflow: hidden;
    height: 450px;
}
.swiper-pager{
	top: 36% !important;
}



@media (min-width: 1200px){
	#sosearchpro.so-search.open .dropdown-menu-search {
    width: 364px !important;
}

#sosearchpro.so-search .dropdown-menu-search {
    right: 140px !important;
	top: 7px !important;
}

}


@media (max-width: 767px){
	.home-slider{
    height: unset;
}

#sosearchpro.so-search .dropdown-menu-search {
    right: 0px !important;
	left:95px !important;
	top: 7px !important;
}


}
	

/*====== Fix bugs Megamenu not showing icon font (26/1/2018) =====*/
@media (min-width: 992px){
	.menu-vertical .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a {    padding: 9px 0; line-height: 24px; height: auto;}
	.menu-vertical .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a i,
	.menu-vertical .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a b {
	    display: inline-block;
	}
	.menu-vertical .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.with-sub-menu > a:before{display: none;}
	.menu-vertical .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a img{position: static; transform: inherit;}

}


