<style type="text/css">
    #liveSalesPopup-notification .liveSalesPopup-inner{
		opacity: {{ live_sales.opacity }} ;
        background: {{ live_sales.bg_color }};
        height: {{ live_sales.popup_height }}px;
        width: {{ live_sales.popup_width }};
	}
    #liveSalesPopup-notification:hover .liveSalesPopup-inner{
        opacity: {{ live_sales.opacity_on_hover }} ;
    }
    #liveSalesPopup-notification .liveSalesPopup-image{
		height: {{ live_sales.height }}px ;
        width: {{ live_sales.width }} ;
    }
    #liveSalesPopup-notification .liveSalesPopup-content p{
        margin-bottom: 0px;
        color: {{ live_sales.text_color }} ;
        font-size: 14px;
    }
    #liveSalesPopup-notification .liveSalesPopup-content{
        padding-left: 108px;
    }
    #liveSalesPopup-notification{    
        height: {{ live_sales.popup_height }}px;
        width: {{ live_sales.popup_width }} ;
        box-shadow: 0 0 {{ livesales.shadow_size }}px {{ live_sales.shadow_color }} ;
        color: {{ live_sales.text_color }};
	{% if live_sales.position  ==  'top_left' %} 
		left : {{ live_sales.left }}px;
		top: {{ live_sales.top }}px;		
		right:auto;
		bottom:auto;
	{% elseif live_sales.position  ==  'top_right' %} 
		right :	{{ live_sales.right }}px;
		top:	{{ live_sales.top }}px;
		left:auto;
		bottom:auto;
	{% elseif live_sales.position  ==  'bottom_left' %} 
		left :{{ live_sales.left }}px;
		bottom:{{ live_sales.bottom }}px;
		right:auto;
		top:auto;
	{% elseif live_sales.position  ==  'bottom_right' %} 
		right :{{ live_sales.right }}px;
		bottom:{{ live_sales.bottom }}px;
		top:auto;
		left:auto;
	{% endif %} 
    }
    #liveSalesPopup-notification a{
		color: {{ live_sales.link_color }};
    }
    
    #liveSalesPopup-notification button{
		color: {{ live_sales.close_btn_color }};
    }
    #liveSalesPopup-notification.active, #liveSalesPopup-notification.animated{
        opacity: {{ live_sales.opacity }};
    }
    #liveSalesPopup-notification.active:hover, #liveSalesPopup-notification.animated:hover{
        opacity: {{ live_sales.opacity_on_hover }};
    }   
	{% if live_sales.extra_css %}
		{{ live_sales.extra_css }} 
	{% endif %} 
	
    @media (max-width: 478px){
        #liveSalesPopup-notification{
		{% if live_sales.mposition == 'mtop' %}
			top: {{ live_sales.mtop }}px;		
			right:	{{ live_sales.mright }}px;
			left : {{ live_sales.left }}px;
			bottom:auto;
		{% elseif live_sales.mposition == 'mbottom' %}
			top: auto;		
			right:{{ live_sales.mright }}px;
			left :{{ live_sales.mleft }}px;
			bottom:{{ live_sales.mbottom }}px;
		{% endif %}
			height: {{ live_sales.mpopup_height }}px;
			width: {{ live_sales.mpopup_width }};
        }
        #liveSalesPopup-notification .liveSalesPopup-inner{
			height: {{ live_sales.mpopup_height }}px;
			width: {{ live_sales.mpopup_width }};
        }
        #liveSalesPopup-notification .liveSalesPopup-image{
			height: {{ live_sales.mpopup_height }}px;
			width: {{ live_sales.mpopup_height }}px;
        }
    }	
</style>

<script type="text/javascript">
	{% set delay_first = live_sales.delay_first|split('-') %}
	{% set delay_first = live_sales.delay_between|split('-') %}
	//delay_between   explode('-', live_sales.delay_first) 
	//delay_between   explode('-', live_sales.delay_between) 
	
    var liveSalesPopupAjaxUrl = 'index.php?route=extension/module/live_sales_popup/ajax';
    var liveSalesPopupDelayFirstMin = {{ delay_first.0 ? delay_first.0 : 1000 }}  ;
    var liveSalesPopupDelayFirstMax = {{ delay_first.1 ? delay_first.1 : 2000 }}  ;
    var liveSalesPopupDisplayTime = {{ live_sales.display_time }} ;
    var liveSalesPopupDelayMin = {{ delay_between.0 ? delay_between.0 : 5000 }}  ;
    var liveSalesPopupDelayMax = {{ delay_between.0 ? delay_between.0 : 10000 }}  ;
    var liveSalesPopupInAnimation = '{{ live_sales.in_animation }}';
    var liveSalesPopupOutAnimation = '{{ live_sales.out_animation }}';
    var liveSalesPopupDisplayTimes = '{{ live_sales.cutomer_session ? live_sales.cutomer_session : 0 }}';
    var liveSalesPopupCloseLifetime = {{ live_sales.cookie_time }} ;
    var liveSalesPopupNotificationSound = 'catalog/view/javascript/sound/{{ live_sales.sound }}';
    var liveSalesPopupLastCartItem = '';

</script>