{#=====Get variable : Config Select Block on header=====#}
{% set hidden_headercenter = soconfig.get_settings('toppanel_type') =='2'? 'hidden-compact' : '' %}
{% set hidden_headerbottom = soconfig.get_settings('toppanel_type') =='1'? 'hidden-compact' : '' %}

<header id="header" class=" variant typeheader-{{ typeheader ? typeheader : '1'}}">
	{#======	HEADER TOP	=======#}  
	<div class="header-top hidden-compact">
		<div class="container">
			<div class="row">
				<div class="header-top-left col-lg-6 col-sm-6 col-xs-4 hidden-sm hidden-xs">
					{% if soconfig.get_settings('welcome_message_status') %}
						{% if soconfig.get_settings('welcome_message') is not empty %}
							{{ soconfig.decode_entities( soconfig.get_settings('welcome_message') ) }}
						{% endif %} 
					{% endif %}
				</div>
				<div class="header-top-right collapsed-block col-lg-6 col-sm-12 col-xs-12 text-right">
					<ul class="top-link list-inline">
						<li class="account" id="my_account"><a href="{{ account }}" title="{{ text_account }} " class="btn-xs dropdown-toggle" data-toggle="dropdown"> <span class="hidden-xs">{{ text_account }} </span> <span class="fa fa-angle-down"></span></a>
							<ul class="dropdown-menu ">
									<li><a href="{{ wishlist }}"  title="{{ text_wishlist }}">{{ text_wishlist }}</a></li>
									{#<li><a href="{{ compare }}" title="{{ text_compare }}">{{ text_compare }}</a></li>#}
								{% if logged %}
						            <li><a href="{{ account }}">{{ text_account }}</a></li>
						            <li><a href="{{ order }}">{{ text_order }}</a></li>
						            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
						            <li><a href="{{ download }}">{{ text_download }}</a></li>
						            <li><a href="{{ logout }}"><i class="fa fa-sign-out" aria-hidden="true"></i> {{ text_logout }}</a></li>
					            {% else %}

						            <li><a href="{{ register }}">{{ text_register }}</a></li>
						            <li><a href="{{ login }}">{{ text_login }}</a></li>
					            {% endif %}
							</ul>
						</li>

						{% if soconfig.get_settings('checkout_status') %}
							<li class="checkout hidden-xs"><a href="{{ checkout }} " class="btn-link" title="{{ text_checkout }} "><span >{{ text_checkout }} </span></a></li>
						{% endif %}
					</ul>
					{% if soconfig.get_settings('lang_status') %}
					<ul class="top-link list-inline ">
						{% if language %} <li class="language">{{ language }} </li>	{% endif %}
						{% if currency %}<li class="currency"> {{ currency }}  </li> {% endif %}
					</ul>
					{% endif %}


				</div>
			</div>
		</div>
	</div>
	
	{#======	HEADER CENTER	=======#} 
	<div class="header-middle {{hidden_headercenter}}">
		<div class="container">
			<div class="row">	
				<div class="middle-left col-lg-3 col-md-3 col-sm-4 hidden-xs ">					
					{% if soconfig.get_settings('phone_status') and soconfig.get_settings('contact_number') %}
					<svg class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg>
					<div class="phone-contact " >
						{{ soconfig.decode_entities( soconfig.get_settings('contact_number') ) }}
					</div>
					{% endif %}						
				</div>

				<div class="navbar-logo col-lg-6 col-md-6 col-sm-4 col-xs-6">
					<div class="logo text-left">
				   		{{soconfig.get_logo()}}
				   	</div>
					<div class="header-search">
						<div id="sosearchpro" class="sosearchpro-wrapper dropdown so-search compact-hidden open">
                            {#<button id="dropdownSearch" class="dropdown-toggle bt-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                            {#<i class="fa fa-search" aria-hidden="true"></i>#}
                            {#</button>#}
							<div class="dropdown-menu dropdown-menu-search" aria-labelledby="dropdownSearch">
                                {{ search }}
							</div>
						</div>
					</div>
				</div>
				
				<div class="middle-right col-lg-3 col-md-3 col-sm-4 col-xs-6 text-right custom-cart">
					<div class="shopping_cart">							
					 	{{ cart }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="header-bottom {{hidden_headerbottom}}">
		<div class="container">
			<div class="header-bottom-inner">
				<div class="mainmenu">
					{{ menu }}
				</div>
				
							
			</div>
		</div>
	</div>
		
</header>