#liveSalesPopup-notification{
    position: fixed;
    z-index: 10000;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    border-radius: 0px;
    height: 92px;
    left: 80px;
    bottom: 20px;
    width: 300px;    
    font-size: 13px;
    line-height: 19px;
    visibility: hidden;
    overflow: hidden;
}
#liveSalesPopup-notification .liveSalesPopup-inner{
    background: #FFFFFF;
    transition: 0.5s all;
}
#liveSalesPopup-notification.active{

    visibility: visible;
}
#liveSalesPopup-notification .liveSalesPopup-customer, #liveSalesPopup-notification .liveSalesPopup-item-name, #liveSalesPopup-notification .liveSalesPopup-total, #liveSalesPopup-notification .liveSalesPopup-time{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#liveSalesPopup-notification .liveSalesPopup-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 92px;
    height: 92px;
    background-size: cover;
}
#liveSalesPopup-notification .liveSalesPopup-whole-link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
#liveSalesPopup-notification.has-second-image:hover .liveSalesPopup-image{
    opacity: 1;
}
#liveSalesPopup-notification.has-second-image .liveSalesPopup-image.second-image{
    opacity: 0;
}
#liveSalesPopup-notification.has-second-image:hover .liveSalesPopup-image.second-image{
    opacity: 1;
    z-index: 2;
}
#liveSalesPopup-notification .liveSalesPopup-image{
    transition: 0.5s all;
}
#liveSalesPopup-notification .liveSalesPopup-image a{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
#liveSalesPopup-notification .liveSalesPopup-content{
    padding-left: 100px;
    padding-top: 10px;
}
#liveSalesPopup-notification .liveSalesPopup-content p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 2px;
    margin-top: 0;
}
#liveSalesPopup-notification .liveSalesPopup-close-button{
    position: absolute;
    right: 5px;
    top: 5px;
    height: 20px;
    width: 20px;
    padding: 0;
    text-align: center;
    border: 0 none;
    outline: none;
    background: none;
    z-index: 10;
}