{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-ezyslips_connector" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save" ></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
       {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
   {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>{{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
   {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
		<form action="{{ action }}" method="post" id="form-ezyslips_connector" class="form-horizontal">
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-email">Email ID: </label>
				<div class="col-sm-10">
					<input type="email" name="module_ezyslips_connector[email]" required="required" value="{{ email }}" placeholder="Please enter email id" id="input-email" class="form-control" pattern="[^ @]*@[^ @]*" title="Please enter a valid email." />
					{% if error_email %}
						<div class="text-danger">{{ error_email }}</div>
					 {% endif %}
				</div>
			</div> 
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-password">Licence Key: </label>
				<div class="col-sm-10">
					<input type="text" name="module_ezyslips_connector[password]" required="required" value="{{ password }}" placeholder="Please enter password" id="input-password" class="form-control" />
				</div>
			</div>  
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-store_url">Store URL: </label>
				<div class="col-sm-10">
					<input type="url" name="module_ezyslips_connector[store_url]" required="required" value="{{ store_url }}" placeholder="http:// OR https://" id="input-store_url" class="form-control" />
				</div>
			</div>  



            <div class="form-group required">
				<label class="col-sm-2 control-label" for="input-order-status">Order Status: </label>
				<div class="col-sm-10">
                    <div class="table-responsive">
                      {% if error_order_status %}
						<h5 class="text-danger">{{ error_order_status }}</h5>
					  {% endif %}
                       <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                              <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                              <td class="text-left">
                              Order Status Name</td>
                            </tr>
                       </thead>
                       <tbody>
                            {% if order_statuses %}

                            {% for order_status in order_statuses %}
                            <tr>

                               <td class="text-center">{% if order_status.order_status_id in selected %}
                               <input type="checkbox" name="module_ezyslips_connector_selected[]" value="{{ order_status.order_status_id }}" checked="checked"> 
                               {% else %} 
                               <input type="checkbox" name="module_ezyslips_connector_selected[]" value="{{ order_status.order_status_id }}" />
                               {% endif %}</td>
                               <td class="text-left">{{ order_status.name }}</td>
                               
                            </tr>
                            <?php {% endfor %} ?>
                             
                            {% else %} 
                           <tr>
                               <td class="text-center" colspan="8">No Order Status Found!</td>
                           </tr>
                            {% endif %}
                       </tbody>
                    </table>
                    </div>
                </div>




			<div class="form-group">
				<label class="col-sm-2 control-label" >Status: </label>
				<div class="col-sm-10">
					<select name="module_ezyslips_connector_status" class="form-control">
					 {% if ezyslips_connector_status %}
						<option value="1"  selected="selected"  >Active</option>
						<option value="0" >Disabled</option>
						 {% else %}
						 <option value="1" >Active</option>
						<option value="0"  selected="selected" >Disabled</option>
						{% endif %}
					</select>
				</div>
			</div> 
		</form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	$(document).ready(function(e){
		$("#form-ezyslips_connector").on('submit',function(e){
			
			var reUrl 	= /^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/;
			var reEmail	= '[^ @]*@[^ @]*';
						
			email 		= $("#input-email").val();
			password 	= $("#input-password").val();
			store_url 	= $("#input-store_url").val();
			
			validUrl = reUrl.test(store_url);
			validEmail = reEmail.test(email);
			
			if(email && password && store_url && validUrl && validEmail){
				return true;
			}else{
				e.preventDefault();
				return false;
			}
			
		});
	});
</script>
<?php echo $footer; ?>
