{{ header }} {{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
		<div class="btn-group" role="group">
		  <button type="submit" form="form-invoice-pro" input type="hidden" id="save_stay" name="save_stay" value="1" data-toggle="tooltip" title="{{ "Save and Stay"}}" class="btn btn-danger"><i class="fa fa-save"></i>&nbsp;&nbsp;{{ button_save_stay }}</button><button type="submit" form="form-invoice-pro" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp;{{ button_save }}</button>	
			<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i> {{ button_cancel }}</a>
		</div>	
	  </div>
      <h1>{{ heading_title1 }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		{% if success %}
		<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ success }}
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
		  </div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-invoice-pro" class="form-horizontal">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#tab-general" data-toggle="tab"><i class="fa fa-cog"></i> {{ tab_general }}</a>
						</li>
						<li>
							<a href="#tab-popup-setting" data-toggle="tab"><i class="fa fa-cog"></i> {{ tab_popup_setting }} </a>
						</li>
						<!--<li><a href="#tab-cart-popup" data-toggle="tab"><span data-toggle="tooltip" data-container="#tab-general" title="" data-original-title="{{ help_version_support }}"> <i class="fa fa-cog"></i> {{ tab_cart_popup }}</span> </a></li>-->
						<li><a href="#tab-about" data-toggle="tab"><i class="fa fa-info"></i> {{ tab_about }} </a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab-general">
							<div class="form-group">
								<label class="col-sm-2 control-label" >{{ entry_status_1 }}</label>
								<div class="col-sm-4 col-xs-12">
									<select name="module_live_sales_popup_status" class="form-control">
										{% if live_sales_popup_status %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
										{% else %} 
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}	
									</select>
								</div>
							</div>						

							<div class="form-group">
								<label class="col-sm-2 control-label" >{{ entry_thumb }}</label>
								<div class="col-sm-4 col-xs-12">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-arrows-h"></i></span>
										<input type="text" name="module_live_sales_popup[width]" value="{{ live_sales.width }}" class="form-control">
										<span class="input-group-addon"><i class="fa fa-arrows-v"></i></span>
										<input type="text" name="module_live_sales_popup[height]" value="{{ live_sales.height }}" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-container="#tab-general" title="" data-original-title="{{ help_delay_first }}">{{ entry_delay_first }}</span></label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[delay_first]" value="{{ live_sales.delay_first }}" class="form-control" placeholder="{{ entry_delay_first }}">
								</div>
							</div>	
							<div class="form-group">
								<label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-container="#tab-general" title="" data-original-title="{{ help_display_time }}">{{ entry_display_time }}</span></label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[display_time]" value="{{ live_sales.display_time }}" class="form-control" placeholder="{{ entry_display_time }}">
								</div>
							</div>	
							<div class="form-group">
								<label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-container="#tab-general" title="" data-original-title="{{ help_delay_between }}">{{ entry_delay_between }}</span></label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[delay_between]" value="{{ live_sales.delay_between }}" class="form-control" placeholder="{{ entry_delay_between }}">
								</div>
							</div>								
							<div class="form-group">
								<label class="col-sm-2 control-label" >{{ entry_sound }}</label>
								<div class="col-sm-4 col-xs-12">
									<select name="module_live_sales_popup[sound]" id="sound" class="form-control">
										<option value="0">{{ text_none }}</option>
										{% for sound in sounds %}
											{% if sound  ==  live_sales.sound %}
												<option value="{{ sound }}" selected="selected">{{ sound }}</option>
											{% else %} 
												<option value="{{ sound }}">{{ sound }}</option>
											{% endif %}	
										{% endfor %}
									</select>
								</div>
							</div>	
							
							<div class="form-group">
								<label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-container="#tab-general" title="" data-original-title="{{ help_customer_session }}">{{ entry_cutomer_session }}</span></label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[cutomer_session]" value="{{ live_sales.cutomer_session }}" class="form-control" placeholder="{{ entry_cutomer_session }}">
								</div>
							</div>	
							
							<div class="form-group">
								<label class="col-sm-2 control-label" >{{ entry_close_button }}</label>
								<div class="col-sm-4 col-xs-12">
									<select name="module_live_sales_popup[close_button]" class="form-control">
										{% if live_sales.close_button %}
											<option value="1" selected="selected">{{ text_yes }}</option>
											<option value="0">{{ text_no }}</option>
										{% else %} 
											<option value="1">{{ text_yes }}</option>
											<option value="0" selected="selected">{{ text_no }}</option>
										{% endif %}	
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-container="#tab-general" title="" data-original-title="{{ help_cookie_time }}">{{ entry_cookie_time }}</span></label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[cookie_time]" value="{{ live_sales.cookie_time }}" class="form-control" placeholder="{{ entry_cookie_time }}">
								</div>
							</div>
							
							<h2>Appearance options</h2>

							<div class="form-group">
								<label class="col-sm-2 control-label" >{{ entry_bg_color }}</label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[bg_color]" value="{{ live_sales.bg_color }}" class="form-control color" placeholder="{{ entry_bg_color }}">
								</div>
							</div>	
							<div class="form-group">
								<label class="col-sm-2 control-label" >{{ entry_border_color }}</label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[border_color]" value="{{ live_sales.border_color }}" class="form-control color" placeholder="{{ entry_border_color }}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" >{{ entry_border_radius }}</label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[border_radius]" value="{{ live_sales.border_radius }}" class="form-control" placeholder="{{ entry_border_radius }}">
								</div>
							</div>	
							
							<div class="form-group">
								<label class="col-sm-2 control-label" >{{ entry_shadow_color }}</label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[shadow_color]" value="{{ live_sales.shadow_color }}" class="form-control color" placeholder="{{ entry_shadow_color }}">
								</div>
							</div>	
							<div class="form-group">
								<label class="col-sm-2 control-label" >{{ entry_shadow_size }}</label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[shadow_size]" value="{{ live_sales.shadow_size }}" class="form-control" placeholder="{{ entry_shadow_size }}">
								</div>
							</div>			
							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_text_color }}</label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[text_color]" value="{{ live_sales.text_color }}" class="form-control color" placeholder="{{ entry_text_color }}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_link_color }}</label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[link_color]" value="{{ live_sales.link_color }}" class="form-control color" placeholder="{{ entry_link_color }}">
								</div>
							</div>	
							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_close_btn_color }}</label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[close_btn_color]" value="{{ live_sales.close_btn_color }}" class="form-control color" placeholder="{{ entry_close_btn_color }}">
								</div>
							</div>	

							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_opacity }}</label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[opacity]" value="{{ live_sales.opacity }}" class="form-control" placeholder="{{ entry_opacity }}">
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_opacity_on_hover }}</label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[opacity_on_hover]" value="{{ live_sales.opacity_on_hover }}" class="form-control" placeholder="{{ entry_opacity_on_hover }}">
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_in_animation }}</label>
								<div class="col-sm-4 col-xs-12">
									<!--<input type="text" name="module_live_sales_popup[in_animation]" value="" class="form-control" placeholder="{{ entry_in_animation }}">-->
									<select name="module_live_sales_popup[in_animation]" class="form-control">
										{% for key, animation in in_animations %}
											{% if animation  ==  'GROUP_START' %}
												<optgroup label="{{ key }}">
											{% endif %}	
											{% if animation  !=  'GROUP_START'  and  animation  != 'GROUP_END' %}
												{% if animation  ==  live_sales.in_animation %}
													<option value="{{ key }}" selected="selected">{{ animation }}</option>
												{% else %} 
													<option value="{{ key }}">{{ animation }}</option>
												{% endif %}	
											{% endif %}
												
											{% if animation == 'GROUP_END' %}
												</optgroup>
											{% endif %}
										{% endfor %}	
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_out_animation }}</label>
								<div class="col-sm-4 col-xs-12">
									<select name="module_live_sales_popup[out_animation]" class="form-control">
										{% for key, animation2 in out_animations %}
											{% if animation2  ==  'GROUP_START' %}
												<optgroup label="{{ key }}">
											{% endif %}
											{% if animation2  !=  'GROUP_START'  and  animation2  != 'GROUP_END'%}
												{% if animation2  ==  live_sales.out_animation %}
													<option value="{{ key }}" selected="selected">{{ animation2 }}</option>
												{% else %} 
													<option value="{{ key }}">{{ animation2 }}</option>
												{% endif %}	
											{% endif %}	 	
											{% if animation2  ==  'GROUP_END' %}
												</optgroup>
											{% endif %}
										{% endfor %}
									</select>	
								</div>
							</div>	

							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_extra_css }}</label>
								<div class="col-sm-4 col-xs-12">
									<textarea name="module_live_sales_popup[extra_css]" class="form-control" placeholder="{{ entry_extra_css }}">{{ live_sales.extra_css }}</textarea>
								</div>
							</div>								
							
							<h2>Position and Size</h2>
							
							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_position }}</label>
								<div class="col-sm-4 col-xs-12">
									<select name="module_live_sales_popup[position]" id="position" class="form-control">
										<option value="top_left" {{ live_sales.position  ==  'top_left' ? 'selected="selected"' : '' }}>{{ text_top_left }}</option>
										<option value="top_right" {{ live_sales.position  ==  'top_right' ? 'selected="selected"' : '' }}>{{ text_top_right }}</option>
										<option value="bottom_left" {{ live_sales.position  ==  'bottom_left' ? 'selected="selected"' : '' }}>{{ text_bottom_left }}</option>
										<option value="bottom_right" {{ live_sales.position  ==  'bottom_right' ? 'selected="selected"' : '' }}>{{ text_bottom_right }}</option>
									</select>
								</div>
							</div>	
							<div class="form-group top">
								<label class="col-sm-2 control-label">{{ entry_top }}</label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[top]" value="{{ live_sales.top }}" class="form-control" placeholder="{{ entry_top }}">
								</div>
							</div>
							<div class="form-group bottom">
								<label class="col-sm-2 control-label">{{ entry_bottom }}</label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[bottom]" value="{{ live_sales.bottom }}" class="form-control" placeholder="{{ entry_bottom }}">
								</div>
							</div>
							<div class="form-group left">
								<label class="col-sm-2 control-label">{{ entry_left }}</label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[left]" value="{{ live_sales.left }}" class="form-control" placeholder="{{ entry_left }}">
								</div>
							</div>
							<div class="form-group right">
								<label class="col-sm-2 control-label">{{ entry_right }}</label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[right]" value="{{ live_sales.right }}" class="form-control" placeholder="{{ entry_right }}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-container="#tab-general" title="" data-original-title="{{ help_popup_width }}">{{ entry_popup_width }}</span></label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[popup_width]" value="{{ live_sales.popup_width }}" class="form-control" placeholder="{{ entry_popup_width }}">
								</div>
							</div>	
							<div class="form-group">
								<label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-container="#tab-general" title="" data-original-title="{{ help_popup_height }}">{{ entry_popup_height }}</span></label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[popup_height]" value="{{ live_sales.popup_height }}" class="form-control" placeholder="{{ entry_popup_height }}">
								</div>
							</div>	
							
							<h3>Mobile Device Setting</h3>
							
							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_mposition }}</label>
								<div class="col-sm-4 col-xs-12">
									<select name="module_live_sales_popup[mposition]" id="mposition" class="form-control">
										<option value="mtop" {{ live_sales.mposition  ==  'mtop' ? 'selected="selected"' : '' }}>{{ text_mtop }}</option>
										<option value="mbottom" {{ live_sales.mposition  ==  'mbottom' ? 'selected="selected"' : '' }}>{{ text_mbottom }}</option>
									</select>
								</div>
							</div>	
							<div class="form-group mtop">
								<label class="col-sm-2 control-label">{{ entry_mtop }}</label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[mtop]" value="{{ live_sales.mtop }}" class="form-control" placeholder="{{ entry_mtop }}">
								</div>
							</div>
							<div class="form-group mbottom">
								<label class="col-sm-2 control-label">{{ entry_mbottom }}</label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[mbottom]" value="{{ live_sales.mbottom }}" class="form-control" placeholder="{{ entry_mbottom }}">
								</div>
							</div>
							<div class="form-group mleft">
								<label class="col-sm-2 control-label">{{ entry_mleft }}</label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[mleft]" value="{{ live_sales.mleft }}" class="form-control" placeholder="{{ entry_mleft }}">
								</div>
							</div>
							<div class="form-group mright">
								<label class="col-sm-2 control-label">{{ entry_mright }}</label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[mright]" value="{{ live_sales.mright }}" class="form-control" placeholder="{{ entry_mright }}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-container="#tab-general" title="" data-original-title="{{ help_mpopup_width }}">{{ entry_popup_width }}</span></label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[mpopup_width]" value="{{ live_sales.mpopup_width }}" class="form-control" placeholder="{{ entry_mpopup_width }}">
								</div>
							</div>	
							<div class="form-group">
								<label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-container="#tab-general" title="" data-original-title="{{ help_mpopup_height }}">{{ entry_popup_height }}</span></label>
								<div class="col-sm-4 col-xs-12">
									<input type="text" name="module_live_sales_popup[mpopup_height]" value="{{ live_sales.mpopup_height }}" class="form-control" placeholder="{{ entry_mpopup_height }}">
								</div>
							</div>											
							
						</div>	
						
						

						<div class="tab-pane" id="tab-popup-setting">
							<div class="col-sm-8">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title"><i class="fa fa-cog"></i> ORDERS POPUP SETTINGS</h3>
									</div>
									<div class="panel-body">							
										<div class="form-group">
											<label class="col-sm-3 control-label" >{{ entry_content_1 }}</label>
											<div class="col-sm-8 col-xs-12">
												<input type="text" name="module_live_sales_popup[content_line_1]" value="{{ live_sales.content_line_1 }}" class="form-control" placeholder="{{ entry_content_1 }}" />
											</div>
										</div>	
										<div class="form-group">
											<label class="col-sm-3 control-label" >{{ entry_content_2 }}</label>
											<div class="col-sm-8 col-xs-12">
												<input type="text" name="module_live_sales_popup[content_line_2]" value="{{ live_sales.content_line_2 }}" class="form-control" placeholder="{{ entry_content_2 }}" />
											</div>
										</div>	
										<div class="form-group">
											<label class="col-sm-3 control-label" >{{ entry_content_3 }}</label>
											<div class="col-sm-8 col-xs-12">
												<input type="text" name="module_live_sales_popup[content_line_3]" value="{{ live_sales.content_line_3 }}" class="form-control" placeholder="{{ entry_content_3 }}" />
											</div>
										</div>	
										<div class="form-group">
											<label class="col-sm-3 control-label" >{{ entry_content_4 }}</label>
											<div class="col-sm-8 col-xs-12">
												<input type="text" name="module_live_sales_popup[content_line_4]" value="{{ live_sales.content_line_4 }}" class="form-control" placeholder="{{ entry_content_4 }}" />
											</div>
										</div>	
										<div class="form-group">
											<label class="col-sm-3 control-label" >{{ entry_content_5 }}</label>
											<div class="col-sm-8 col-xs-12">
												<input type="text" name="module_live_sales_popup[content_line_5]" value="{{ live_sales.content_line_5 }}" class="form-control" placeholder="{{ entry_content_5 }}" />
											</div>
										</div>	
										<div class="form-group">
											<label class="col-sm-3 control-label" >{{ entry_sequence }}</label>
											<div class="col-sm-8 col-xs-12">
												<select name="module_live_sales_popup[sequence]" class="form-control">
													<option value="rand" {{ live_sales.sequence == 'rand' ? 'selected="selected"' :  '' }}>{{ text_random }}</option>
													<option value="asc" {{ live_sales.sequence  == 'asc' ? 'selected="selected"' :  '' }}>{{ text_asc }}</option>
													<option value="desc" {{ live_sales.sequence == 'desc' ? 'selected="selected"' :  '' }}>{{ text_desc }}</option>
												</select>
											</div>
										</div>
										
										<div class="form-group">
											<label class="col-sm-3 control-label" >{{ entry_loop }}</label>
											<div class="col-sm-8 col-xs-12">
												<select name="module_live_sales_popup[loop]"  class="form-control">
													{% if live_sales.loop %}
														<option value="1" selected="selected">{{ text_yes }}</option>
														<option value="0">{{ text_no }}</option>
													{% else %}
														<option value="1">{{ text_yes }}</option>
														<option value="0" selected="selected">{{ text_no }}</option>
													{% endif %}	
												</select>
											</div>
										</div>
										
										<div class="form-group">
											<label class="col-sm-3 control-label" ><span data-toggle="tooltip" data-container="#tab-general" title="" data-original-title="{{ help_active_product }}">{{ entry_active_product }}</span></label>
											<div class="col-sm-8 col-xs-12">
												<select name="module_live_sales_popup[active_product]"  class="form-control">
													{% if live_sales.active_product %}
														<option value="1" selected="selected">{{ text_yes }}</option>
														<option value="0">{{ text_no }}</option>
													{% else %} 
														<option value="1">{{ text_yes }}</option>
														<option value="0" selected="selected">{{ text_no }}</option>
													{% endif %}	
												</select>
											</div>
										</div>							
										<div class="form-group">
											<label class="col-sm-3 control-label" >{{ entry_min_amount }}</label>
											<div class="col-sm-8 col-xs-12">
												<input type="text" name="module_live_sales_popup[min_amount]" value="{{ live_sales.min_amount }}" class="form-control" placeholder="{{ entry_min_amount }}" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label" >{{ entry_order_status }}</label>
											<div class="col-sm-8 col-xs-12">
												<select name="module_live_sales_popup[order_status][]" class="form-control" multiple>
													{% for order_status in order_statuses %}
														{% if order_status.order_status_id in live_sales.order_status %}
															<option value="{{ order_status.order_status_id}}" selected="selected">{{ order_status.name }}</option>
														{% else %} 
															<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
														{% endif %}	
													{% endfor %}
												</select>
											</div>
										</div>							
									</div>
								</div>	
							</div>
							<div class="col-sm-4">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title"><i class="fa fa-info"></i> AVAILABLE VARIABLES</h3>
									</div>
									<div class="panel-body">	
										<div class="form-wrapper">
											<ul class="list-unstyled">
												<li><p><span class="label btn-info">{firstname}</span> Customer firstname</p></li>
												<li><p><span class="label btn-info">{lastname}</span> Customer lastname</p></li>
												<li><p><span class="label btn-info">{firstname_lastname}</span> Customer firstname and lastname separated by space</p></li>
												<li><p><span class="label btn-info">{lastname_firstname}</span> Customer lastname and  firstname separated by space</p></li>
												<li><p><span class="label btn-info">{country}</span> Customer country</p></li>
												<li><p><span class="label btn-info">{city}</span> Customer city</p></li>
												<li><p><span class="label btn-info">{state}</span> Customer state</p></li>
												<li><p><span class="label btn-info">{date}</span> Order date</p></li>
												<li><p><span class="label btn-info">{time_ago}</span> How long ago an order was made</p></li>
												<li><p><span class="label btn-info">{order_total}</span> Order total</p></li>															<li><p><span class="label btn-info">{product_name}</span> Product name</p></li>	
												</ul>
										</div>	
									</div>
								</div>	
							</div>
						</div>
						
						
						<div class="tab-pane" id="tab-about">
							<div class="col-sm-offset-1 col-sm-10">
								<div class="text-center ">
									<i class="fa fa-shopping-cart lg-cart"></i>
									<h1>Live Sales Popup</h1>
									<p>Live sales popup module is show latest order with sound notification, multiple animation styles and change notification styles such as backgournd, color etc.....</p>
									<p>We hope you would find this module useful and please 5 star review and good comment about extensions.</p>
									<p>Contact for support, questions and suggestions for our module, please <a href="mailto:scf8127@gmail.com">contact us.</p>

									<p><a target="_blank" href="https://www.opencart.com/index.php?route=marketplace/extension&filter_member=Nice%20Web%20Development">View all our modules >>></a></p>
								</div>	
								<div class="form-group">
										<p><i class="fa fa-envelope"></i> Email : &nbsp;&nbsp;&nbsp; scf8127@gmail.com</p>
								</div>	

								<div class="form-group">
									<p><i class="fa fa-skype"></i> Skype : &nbsp;&nbsp;&nbsp; scf8127</p>
								</div>	
								<div class="form-group">
									<p><i class="fa fa-support"></i> Support Version : &nbsp;&nbsp;&nbsp; 2.x, 3.x</p>
								</div>	
							</div>	
						</div>				
					</div>
				</form>
			</div>
		</div>	
	</div>
</div>
<audio id="audio-sound" src=""></audio>
<script type="text/javascript">
	//Sound 
	$('#sound').on('change', function(){
		if ($(this).val() != 0){
            $('#audio-sound').attr('src', '../catalog/view/javascript/sound/' + $(this).val());
            document.getElementById('audio-sound').play();
        }		
	});
	
	//Postion
	
	$(document).ready(function(){
		var position_2 = $('#position option:selected').val();
		
		if(position_2 != null){
			var position = position_2;
		}else{
			var position = 'top_left';
		}
		deskTOpchangeposition(position);
		
		
		var position_m = $('#mposition option:selected').val();

		if(position_m != null){
			var mposition = position_m;
		}else{
			var mposition = 'mbottom';
		}//alert(mposition);
		mchangeposition(mposition);		
	});
	
	$('#position').on('change', function(){
		var position = $(this).val();
		deskTOpchangeposition(position);
	});
	
	function deskTOpchangeposition(position){
		if(position == 'top_left'){
			$('.top').removeClass('hidden');
			$('.bottom').addClass('hidden');
			$('.left').removeClass('hidden');
			$('.right').addClass('hidden');
		}else if (position == 'top_right'){
			$('.top').removeClass('hidden');
			$('.bottom').addClass('hidden');
			$('.left').addClass('hidden');
			$('.right').removeClass('hidden');		
		}else if (position == 'bottom_left'){
			$('.top').addClass('hidden');
			$('.bottom').removeClass('hidden');
			$('.left').removeClass('hidden');
			$('.right').addClass('hidden');			
		}else if (position == 'bottom_right'){
			$('.top').addClass('hidden');
			$('.bottom').removeClass('hidden');
			$('.left').addClass('hidden');
			$('.right').removeClass('hidden');			
		}
	}
	
	$('#mposition').on('change', function(){
		var mposition = $(this).val();
		mchangeposition(mposition);
	});	
	
	function mchangeposition(mposition){
		if(mposition == 'mtop'){
			$('.mtop').removeClass('hidden');
			$('.mbottom').addClass('hidden');			
		}else if (mposition == 'mbottom'){
			$('.mtop').addClass('hidden');
			$('.mbottom').removeClass('hidden');			
		}
	}
	
	//Colorpicker
	$('.color').colorpicker();
	
	//Alert success
	$(document).ready(function(){
		$(".alert-success").hide(0).delay(10).fadeIn(500);
		$(".alert-success").show(0).delay(5000).fadeOut(2000);
	});	
</script>
<style type="text/css">
.label{font-size:12px; font-weight:normal;}
#tab-about p{
	font-size:18px;
	color:#3d3d3d;
	margin-bottom:10px;
}
#tab-about i.lg-cart{font-size: 130pt;color: #3f3f3f;}
</style>
{{ footer }}