{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-filter" data-toggle="tooltip"
					title="{{ button_save }}" class="btn btn-primary">
					<i class="fa fa-save"></i>
				</button>
				<a href="{{ cancel }}" data-toggle="tooltip"
					title="{{ button_cancel }}" class="btn btn-default"><i
					class="fa fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li>
          <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
        </li>
        {% endfor %}
      </ul>
		</div>
	</div>
	<div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger">
      <i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    
    <div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-pencil"></i> {{ text_edit }}
        </h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-mylivechat"  class="form-horizontal">

					<table class="table table-hover">
						<tr>
							<td><label>{{ entry_status }}</label></td>
							<td>
				<select name="module_mylivechat_status" id="input-status"	class="form-control">
                 {% if module_mylivechat_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                
				{% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
				{% endif %} 
              </select>
				  </td>
						</tr>
						<tr>
							<td style="width: 200px"><label>{{ entry_code }}</label>

							</td>
							<td><input name="module_mylivechat_code"
								value="{{ module_mylivechat_code }}" /></td>
						</tr>
						<tr>
							<td><label>{{ entry_displaytype }}</label></td>
							<td><select name="module_mylivechat_displaytype"
								id="module_mylivechat_displaytype" class="form-control">
									<option value="0">Inline Chat</option>
									<option value="1" selected="selected">Chat Button</option>
									<option value="2" selected="selected">Chat Widget</option>
									<option value="3" selected="selected">Chat Box</option>
									<option value="4" selected="selected">Chat Link</option>
							</select> <script type="text/javascript">
                var displaytype = "{{ module_mylivechat_displaytype }}";
                document.getElementById("module_mylivechat_displaytype").selectedIndex = displaytype;
              </script></td>
						</tr>
					</table>
					<div></div>
				</form>
			</div>
		</div>
	</div>
  {{ footer }}